html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}
  
#app {
    padding-top: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded{
    border-radius: 5px;
    overflow: hidden;
  }
  
.maindiv {
    border: 3px solid #AAAAAA;
    background-color: #292929;
    width: 500px; 
    height: auto;
    color: #FFFFFF;
    font-family: sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol!important;
}

.filterInput {
    padding: 2px;
    background-color: #292929;
    color: #FFFFFF;
    width: 100%;
}

.headline {
    background-color: #252525;
    font-weight: bold;
    padding: 10px;
}

.listContainer {
    padding: 10px;
    overflow: auto;
}

.styled-list {
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-block-start: 10px;
    margin-block-end: 10px;
    width: 100%;
}

.styled-list li {
    padding: 4px;
    margin-top: 2px;
    color: #000; /* Black text color */
    width: 100%;
}
  
.styled-list li:nth-child(odd) {
    background-color: #0057B7; /* Blue background color */
    color: #FFFFFF; /* Black text color */
}

.styled-list li:nth-child(even) {
    background-color: #003797; /* Yellow background color */
    color: #FFFFFF; /* Black text color */
}

.styled-list li.highlighted {
    background-color: #FFDD00; /* Yellow background color */
    color: #000000; /* Black text color */
}